h1 {
    background-color: aquamarine;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
}
@keyframes move {
    from {background-color: aquamarine;}
    to {background-color: bisque;}
    0% {background-color: blueviolet; left: 0px; top: 0px;}
    25% {background-color: brown; left: 200px; top: 0px;}
    50% {background-color: chartreuse; left: 200px; top: 200px;}
    75% {background-color: coral;left: 0px; top: 200px;}
    100% {background-color: aqua; left: 0px; top: 0px;}

    
}