* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    }   
.Gallery {
    display: flex;
}
h1 {
    background-color: black;
    color: white;
    padding: 20px 50px;
    font-size: 2rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
img {
    width: 100%;
    height:300px ;
    border-radius: 10px;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
    .row {
        display: flex;
        gap: 15px;

    }

